aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.0
altgraph==0.17.3
bcrypt==4.0.1
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_fdy66ybhuv/croot/certifi_1669749572520/work/certifi
cffi==1.15.1
charset-normalizer==3.1.0
crcmod==1.7
cryptography==39.0.1
gevent==22.10.2
greenlet==2.0.2
idna==3.4
jmespath==0.10.0
macholib==1.16.2
oss2==2.17.0
paramiko==3.0.0
Pillow==9.4.0
pycparser==2.21
pycryptodome==3.17
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.15
PyNaCl==1.5.0
PyQt5==5.15.8
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
qThread==0.1.0
requests==2.28.2
six==1.16.0
tinyaes==1.0.4
urllib3==1.26.15
watchdog==2.2.1
websocket==0.2.1
websocket-client==1.5.1
zope.event==4.6
zope.interface==5.5.2
